html,
body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#7d8e7c, #1c151b);
}

.main-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #7d8e7c;
  margin-bottom: 2em;
  color: #f9f2ef;
}

.content {
  margin: 0 auto;
  max-width: 45em;
  padding: 2em;
  border-radius: 2em;
  background-color: #f9f2ef;
  color: #1c151b;
}

#weeks-list {
  max-width: 7em;
  margin: 0 auto;
}

.appear {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s all ease;
}
.revealScroll {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s all ease;
}

.appear.active {
  transform: translateY(0);
  opacity: 1;
}

.revealScroll.active {
  transform: translateY(0);
  opacity: 1;
}

a {
  text-decoration: none;
  color: #1c151b;
  transition: 0.5s;
}

a:hover {
  padding: 0.2em;
  color: #f9f2ef;
  background-color: #7d8e7c;
  border-radius: 0.4em;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
  padding: 1em;
  background-color: #7d8e7c;
  border-radius: 1em;
  max-width: 20em;
}

footer {
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  background-color: #7d8e7c;
  color: #f9f2ef;
}

.todo-title {
  text-align: center;
}

.todo-form {
  max-width: 30em;
  margin: 0 auto;
  background-color: #f9f2ef;
  padding: 1em;
  border-radius: 1em;
}

#todo-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#todo-list li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  border-radius: 0.5em;
  background-color: #7d8e7c;
  color: #f9f2ef;
  align-items: center;
  padding: 0.5em;
}
#todo-list li:nth-child(even) {
  background-color: #1c151b;
}

#todo-list li button {
  align-self: end;
}

.list-footer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
}

#add-todo {
  display: flex;
  justify-content: center;

  gap: 0.5em;
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

#square {
  margin: 100px;
  width: 100px;
  height: 100px;
  background: #d16;
}
.week8-title {
  color: #f9f2ef;
  font-size: 3em;
  font-weight: bolder;
  justify-self: center;
  align-self: center;
  animation: title-appear 3s ease;
}
.links-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  grid-column: span 3;
  grid-row: 4;
}
.fake-links {
  font-family: 'Patrick Hand', cursive;
  background-color: #1c151b;
  color: #f9f2ef;
  padding: 1em;
  transition: 0.5s;
  border-radius: 50%;
}
.fake-links:hover {
  padding: 1em;
  animation: poujump 1s infinite;
}

.whatsapp-icon {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  transition: 0.5s;
}

.whatsapp-icon:hover {
  transform: scale(1.2);
}

.myCanvas {
  border: dotted 2px black;
}

form#built-in-form {
  font: 1em sans-serif;
  max-width: 320px;
  margin: 0 auto;
}

p.p-form > label {
  display: block;
}

.built-in-input[type='text'],
.built-in-input[type='email'],
.built-in-input[type='number'],
.built-in-textarea,
.built-in-fieldset {
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

.built-in-input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.built-in-input:focus:invalid {
  box-shadow: none;
}

.form-container {
  font: 1em sans-serif;
  width: 200px;
  padding: 0;
  margin: 0 auto;
}

.p-javascript-form * {
  display: block;
}

#mail[type='email'] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
#mail:invalid {
  border-color: #900;
  background-color: #fdd;
}

#mail:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

#contact-table {
  margin: 0 auto;
  text-align: center;
}

#post-form {
  max-width: 20em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@keyframes poujump {
  0% {
    border-radius: 50% 50% 10% 10%;
  }
  50% {
    transform: translateY(-50%);
    border-radius: 50%;
  }
  100% {
    transform: translateY(0);
    border-radius: 50% 50% 10% 10%;
  }
}

@keyframes title-appear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0.5;
    transform: translate(0);
    padding: 0.2em;
    border-radius: 5em;
    background-color: #f9f2ef;
    color: #1c151b;
  }
  100% {
    opacity: 1;
  }
}
